<%= form_for([song_request.invitation, song_request], local: true) do |form| %>
  <% if song_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song_request.errors.count, "error") %> prohibited this song_request from being saved:</h2>

      <ul>
      <% song_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :title, :required => true, :class => 'form-control form-control-lg', :placeholder => 'Title' %>
  </div>

  <div class="form-group">
    <%= form.text_field :artist, :required => true, :class => 'form-control form-control-lg', :placeholder => 'Artist' %>
  </div>

  <div class="actions">
    <%= form.submit 'Add song', :class => 'btn btn-primary' %>
  </div>
<% end %>
