<%= form_with(model: invitation, local: true) do |form| %>
  <% if invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
      <% invitation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, :required => !invitation.undecided?, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, :required => !invitation.undecided?, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, :required => !invitation.undecided?, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.collection_select :status, Invitation.statuses.keys, :to_s, :humanize, {}, :class => 'form-control' %>
  </div>

  <% if logged_in_as_admin? %>
    <% if invitation.code %>
      <div class="form-group">
        <%= form.label :code %>
        <%= form.text_field :code, :disabled => invitation.code, :class => 'form-control' %>
      </div>
    <% end %>
  <% end %>

  <%= form.submit nil, :class => 'btn btn-primary' %>
<% end %>
