<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @invitation.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @invitation.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @invitation.email %>
</p>

<% if @invitation.accepted? %>
  <p>
    <strong>DJ Name:</strong>
    <%= @invitation.dj_name %>
  </p>
<% end %>

<p>
  <strong>Status:</strong>
  <%= @invitation.status.humanize %>
  <%= link_to 'Change', edit_invitation_path(@invitation), :class => 'btn-sm btn-primary' %>
</p>

<h3>Song Requests</h3>

<% if @invitation.persisted? && @invitation.accepted? %>
  <%= render 'song_requests/list', :song_requests => @invitation.song_requests, :editable => true %>
  <%= render 'song_requests/form', :song_request => @song_request %>
<% end %>
