<p id="notice"><%= notice %></p>

<h1><%= @invitation.name %></h1>
<% if @invitation.going? %>
  <h4>
    <span class="small">a.k.a.</span>
    <%= @invitation.dj_name %>
  </h4>
<% end %>

<p>
  <strong>Email:</strong>
  <%= @invitation.email %>
</p>

<p>
  <strong>Party status:</strong>
  <%= @invitation.status.humanize %>
  <%= link_to 'Change', edit_invitation_path(@invitation), :class => 'btn-sm btn-primary' %>
</p>

<% if @invitation.persisted? && @invitation.going? %>
  <h3 class="mt-5">Song Requests</h3>

  <p>
  We need your help, <%= @invitation.dj_name %>.
  Let us know what songs you would should play at the party.
  </p>

  <%= render 'song_requests/list', :song_requests => @invitation.song_requests, :editable => true %>
  <%= render 'song_requests/form', :song_request => @song_request %>
<% end %>
